{% extends 'blog/main.html' %}
{% load crispy_forms_tags %}
{%block main_section%}
<div class="wrapper">
    <div class="form-section">
        <h2>Вы успешно вышли с аккаунта</h2>
        <a href="{% url 'auth' %}">Войти в личный кабинет снова</a>   
    </div>
</div>

{%endblock%}


{% block aside %}
<div class="bg-info p-3 mb-3 rounded">
    <h3>Популярные языки программирования в 2022 году: ТОП-6</h3>
    <img src="https://itproger.com/img/news/1643703122.jpg" class="img-thumbnail mb-1">
    <p>Еще в конце 2021 года многие авторитетные платформы подводили итоги года и выстраивали предположительный рейтинг на будущий 2022. Этот процесс не обошел тему популярных языков программирования.
<br><a href="https://itproger.com/news/populyarnie-yaziki-programmirovaniya-v-2022-godu-top-6" target="_black">
        <button class="btn btn-warning">Посмотреть</button>
    </a>
</div>
{% endblock aside %}
